body {
    background: lightslategray;
}

.container {
    width: 300px;
    margin: 20px auto;
    height: 300px;
    display: grid;
    grid-template-rows: 100px 100px 50px 50px;
    grid-template-columns: 80px 1fr 30px;
}

.item {
    background: #F3F3F3;
    border: 4px solid black;
}

.one {
    grid-row: 1;
    grid-column: 1;
}

.two {
}

.three {
}

.four {
}

.five {
}

.six {
}

.seven {
}