body {
    background: lightslategray;
}

.container {
    width: 300px;
    margin: 20px auto;
    height: 300px;
    display: grid;
    grid-template-rows: 100px 100px 50px 50px;
    grid-template-columns: 80px 1fr 30px;
}

.item {
    background: #F3F3F3;
    border: 4px solid black;
}

.one {
    grid-row: 1;
    grid-column: 1;
}

.two {
    grid-row: 1 / span 2;
    grid-column: 2 / span 2;
    background: red;
}

.three {
    grid-row: 2;
    grid-column: 1;
}

.four {
    grid-row: 3 / span 2;
    grid-column: 1 / span 1;
    background: blue;
}

.five {
    grid-row: 3 / span 2;
    grid-column: 2 / span 1;
}

.six {
    grid-row: 3;
    grid-column: 3;
}

.seven {
    grid-row: 4;
    grid-column: 3;
    background: yellow;
}